body {
   
}

#banner {
    width: 100%;
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

.titulo-centralizado {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.itens {
    font-style: italic;
    
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width:  50%;
    border: 5px solid #CCCCCC;

}

footer {
    text-align: center;
    background: url("images/bg.jpg");    
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0 ;
}